.guest__input-container {
  padding: 15px;
  .guest__title {
    margin-left: 30px;
  }
}

#guest__booking-type {
  display: flex;
  justify-content: space-between;
}
.guest-input-column {
  display: flex;
  position: relative;
  width: auto;
  height: 70vh;
  overflow: auto;
  background-color: var(--orange_a100_33);
  border-radius: 20px 20px 0px 0px;
  top: 1rem;
}

.guest-input-column .guest-input-container {
  padding: 2.5rem;
}

.guest-input-column .guest-page-edit-header {
  display: flex;
  font-weight: bold;
}

.guest-input-column .guest-page-input-row {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr); /* Ensures spacing between child elements */
  gap: 2rem; /* Adjust this value to set the space between child divs */
  top: 2rem;
}

.guest-input-column .guest-page-edit-input {
  flex: 1; /* Allows inputs to take equal width, if needed */
  margin: 0 1rem; /* Adds extra space if gap is not enough */
}


.guest-input-column .guest-page-edit-input label {
  font-weight: bold;
}

.guest-input-column .guest-page-edit-input input,
.guest-input-column .guest-page-edit-input .dropdown
{
  .guest__dropdown-btn {
    display: flex;
    justify-content: space-between;
  }
  border-radius: 10px;
  border: 1px solid var(--amber_a200);
  width: 16.5rem;
  height: 3.5rem;
  outline: none;
  padding: 1rem;
  font-size: larger;
}

.guest-input-column .guest__input_btn {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.guest-input-column .guest-input-container button {
  position: relative;
  /* grid-column: 3; */
  top: 1rem;
  left: 2rem;
  width: 14rem;
  height: 3.5rem;
  color: var(--white_a700);
  background-color: var(--gray_900);
  border-radius: var(--radius-xs);
  font-size: larger;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
}

.guest-input-column #guest__dropdown--room-no {
  display: flex;
  justify-content: space-between;
}
