<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Receipt</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" type="text/css" href="/static/css/public/index.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/public/fonts.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/public/styles.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/public/receipt.css" />
        <link rel="icon" type="image/x-icon" href="/static/images/public/hotel_logo.png" />
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="module" defer src="/static/js/receipts/book_receipt.js"></script>
	<script type="module" defer src="/static/js/dashboard/constant.js"></script>
    </head>
    <body>
        <!-- main content section -->
        <div class="receipt">
            <div class="receipt-header">
                <img src="/static/images/public/hotel_logo.png" alt="hotel logo" />
                <div class="letter-header">
                    <h1>William's Court Hotel & Suites</h1>
                    <p>1, David Akinpelu Street, Ifelodun-Ilupeju Estate, Camp,<br>
                        Odeda LGA, Abeokuta, Ogun State.
                    </p>
                    <u>https://williamscourthotel.com</u>
                </div>
            </div>
            <div class="receipt-body">
                <p class="order__print-receipt">Bill To</p>
                <div class="main-info">
                    <div class="dotted-border" id="receipt-info"></div>
                    <div id="customer-order-table" class="receipt-items"></div>
                    <div id="totals" class="receipt-items"></div>
                    <div class="other-contents">
                        <div class="fixed-width-dotted-border">
			  <b class="total__title">Total Payment</b>
			</div><br>
			<div class="total-payment fixed-width-dotted-border">
			  <!-- Total amount dynamically loaded here -->
			</div>
                        <p class="welcome__text" style="padding-top: 30px;">Thank you for staying with us at William's Court Hotel And Suites!
                            We hope you had a fantastic experience. Your feedback is invaluable,
                            and we look forward to welcoming you back for another unforgettable stay.
                        </p>
                        <div id="qr-code"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
