<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Explore our room services and manage reservations efficiently. From deluxe to standard rooms, ensure a pleasant stay with complementary breakfast and top-notch amenities."
      />

    <!-- Link Hotel Icon -->
    <link rel="icon" type="image/x-icon" href="/static/images/public/hotel_logo.png" />

    <!-- Link Font-Is-Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

    <!-- Link Public CSS Files-->
    <link rel="stylesheet" type="text/css" href="/static/css/public/index.css?v={{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="/static/css/public/fonts.css?v={{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="/static/css/public/styles.css?v={{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="/static/css/public/components.css?v={{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="/static/css/public/side_nav.css?v={{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="/static/css/public/header.css?v={{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="/static/css/public/table.css?v={{ cache_id }}" />

    <!-- Link Staff_dashboard CSS Files-->
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/room_service.css?v={{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/main_dashboard.css?v={{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/restaurant.css?v={{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/order.css?v={{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/empty_cart.css?v={{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/guests/guest_list.css?v={{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/guests/guest_input.css?v={{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/profile.css?v={{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/loan_request.css?v={{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/leave_request.css?v={{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/add_edit_room.css?v={{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/vendor.css?v={{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/maintenance.css?v={{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/report.css?v={{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/inventory.css?v={{ cache_id }}" />

    <!-- Link Staff_dashboard JS Files-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script type="module" defer src="/static/js/dashboard/common.js?v={{ cache_id }}"></script>
    <script type="module" defer src="/static/js/dashboard/constant.js?v={{ cache_id }}"></script>

    <script type="module" defer src="/static/js/dashboard/restaurant.js?v={{ cache_id }}"></script>
    <script type="module" defer src="/static/js/dashboard/room_service.js?v={{ cache_id }}"></script>
    <script type="module" defer src="/static/js/dashboard/app.js?v={{ cache_id }}"></script>
    <script type="module" defer src="/static/js/dashboard/main_dashboard.js?v={{ cache_id }}"></script>
    <script type="module" defer src="/static/js/dashboard/order.js?v={{ cache_id }}"></script>
    <script type="module" defer src="/static/js/dashboard/guest.js?v={{ cache_id }}"></script>
    <script type="module" defer src="/static/js/dashboard/profile.js?v={{ cache_id }}"></script>
    <script type="module" defer src="/static/js/dashboard/loan_request.js?v={{ cache_id }}"></script>
    <script type="module" defer src="/static/js/dashboard/leave_request.js?v={{ cache_id }}"></script>
    <script type="module" defer src="/static/js/dashboard/vendor.js?v={{ cache_id }}"></script>
    <script type="module" defer src="/static/js/dashboard/maintenance.js?v={{ cache_id }}"></script>
    <script type="module" defer src="/static/js/dashboard/search_engine.js?v={{ cache_id }}"></script>
    <script type="module" defer src="/static/js/dashboard/update_payment_type.js?v={{ cache_id }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard/help_support.css') }}?v={{ cache_id }}">
    <script type="module" defer src="/static/js/global/init_cache.js?v={{ cache_id }}"></script>
    <script type="module" defer src="/static/js/ping.js?v={{ cache_id }}"></script>
    <script type="module" defer src="/static/js/dashboard/booking_preference.js?v={{ cache_id }}"></script>
  </head>
  <body>
    <div class="zoom-alert" id="zoom-alert">
      <!--📢 For the best viewing experience, press <strong>Ctrl</strong> + <strong>-</strong> to zoom out to 90%.-->
      <span>📢 For the best viewing experience, press Ctrl + Plus (+) to zoom in or Ctrl + Minus (–) to zoom out and adjust the screen to fit your preference.</span>
      <span class="close__btn" onclick="document.getElementById('zoom-alert').style.display='none'">×</span>
    </div>

    <div class="offline__banner" id="offline__banner">
      <span>🔌 You’re offline — orders will be saved locally and synced automatically when connection is restored. Some features may be limited.</span>
    </div>

    <script>
      window.onload = function () {
	setTimeout(function () {
	  const alertBox = document.getElementById('zoom-alert');
	  if (alertBox) alertBox.style.display = 'none';
	}, 8000); // hide after 8 seconds
      };
    </script>
    <!-- main content section -->
    <div class="container">
      <div class="row">
	<!-- sidebar navigation section -->
	<aside class="sidebar">
	  <div class="sidebar__logo-row">
	    <img src="/static/images/public/hotel_logo.png" alt="Hotel Logo" class="sidebar__logo" />
	  </div>
	  <ul class="sidebar__menu staff__sidebar-menu">
	    <li id="sidebar__main" class="highlight-sidebar sidebar__nav-icon">
	      <a>
		<img src="/static/images/public/dashboard_icon.png" alt="Dashboard Icon" class="sidebar__icon--dashboard" />
		<p>Dashboard <b class="current-terminal"></b></p>
	      </a>
	    </li>
	    <li id="sidebar__service" class="">
	      <a>
		<img src="/static/images/dashboard/room_services_icon.png" alt="Services Icon" class="sidebar__icon--services" />
		<span> Services </span>
		<img id="service__dropdown" class="service__dropdown" src="/static/images/public/img_arrow_down_black_900_01.svg" width="21px" alt="dropdown" />
	      </a>
	    </li>
	    <div id="service__menu" class="service__menu hide">
	      <a class="sidebar__nav-icon" id="sidebar__restaurant"> Restaurant </a>
	      <a class="sidebar__nav-icon" id="sidebar__bar"> Bar </a>
	      <a class="sidebar__nav-icon" id="sidebar__laundry"> Laundry </a>
	      <a class="sidebar__nav-icon" id="sidebar__game"> Games </a>
	    </div>
	    <li id="sidebar__order" class="sidebar__nav-icon">
	      <a>
		<img src="/static/images/dashboard/orders_icon.png" alt="Orders Icon" class="sidebar__icon--orders" />
		<div>
		  <span>Orders</span>&nbsp;&nbsp;&nbsp;&nbsp;
		  <span id="sidebar__order-count"><!-- The count of cart items will be display here --></span>
		</div>
	      </a>
	    </li>
	    <li id="sidebar__Room" class="sidebar__nav-icon">
	      <a>
		<i class="fa fa-door-open"></i>
		<span> Rooms </span>
	      </a>
	    </li>

	    <li id="sidebar__guest" class="sidebar__nav-icon">
	      <a>
		<img src="/static/images/dashboard/guests_icon.png" alt="Guests Icon" class="sidebar__icon--guests" />
		<span> Guests </span>
	      </a>
	    </li>
	    <!--<li id="sidebar__help" class="sidebar__nav-icon">
	      <a>
		<i class="fas fa-headset"></i>
		<span> Help & Support </span>
	      </a>
	    </li>-->
	    <li id="sidebar__logout" class="sidebar__nav-icon">
	      <a>
		<img src="/static/images/public/logout_icon.png" alt="Logout Icon" class="sidebar__icon--services" />
		<span> Logout </span>
	      </a>
	    </li>
	  </ul><br>
	  <div class="sidebar__profile-row">
	    <img src="/static/images/public/profile_photo_placeholder.png" alt="Profile Image" class="sidebar__profile-image" />
	    <div class="sidebar__staff-profile">
	      <div class="sidebar__name-column">
		<h5 id="sidebar__name" class="sidebar__name ui heading size-headingmd"><!--Name will be dynamically be loaded--></h5>
		<h6 id="sidebar__email" class="ui text size-textxs"><!--Dynamically load email--></h6>
	      </div>
	      <i class="fa fa-ellipsis-v fa-2x drop-down" id="sidebar__staff--profile-btn" ></i>
	    </div>
	  </div>
	</aside>

	<div>
	  <ul style="z-index: 100;" class="notifications-dropdown hidden sidebar_dropdown__menu">
	    <li id="sidebar__profile">
	      <a>
		<img src="/static/images/public/sidebar_profile_icon.png" alt="Dashboard Icon" class="sidebar__icon--dashboard" />
		<span> Profile</span>
	      </a>
	    </li>
	    <li id="side__bar-loanRequest">
	      <a>
		<img src="/static/images/public/sidebar_request-loan_icon.png" alt="Dashboard Icon" class="sidebar__icon--dashboard" />
		<span> Request Loan</span>
	      </a>
	    </li>
	    <li id="side__bar-leaveRequest">
	      <a>
		<img src="/static/images/public/sidebar_request-leave_icon.png" alt="Dashboard Icon" class="sidebar__icon--dashboard" />
		<span> Request Leave</span>
	      </a>
	    </li>
	  </ul>
	</div>

	<!-- side navigation bars ends here -->
	<div class="column_two">
	  <!-- search and tabs section -->
	  <div class="columnsearch">
	    <!-- search header section -->
	    <header class="header" style="display: none;">
	      <div class="header__search-row">
		<label class="header__search-input">
		  <img id="search__bar" src="/static/images/public/serarch_icon.png" alt="Rewind" class="rewind drop-down" />
		  <input name="Search Input" placeholder="Search" type="text" />
		</label>
		<div class="header__icon-row">
		  <!--<a href="{{ url_for('app_views.chat') }}">
      <span class="header__menu-icon">
      <i class="fa-solid fa-user-friends"></i>
      </span>
      </a>-->
      <!--<a href="{{ url_for('app_views.chat') }}">
	<span class="header__menu-icon">
	<img src="/static/images/public/message_icon.svg" />
	<span id="unread__message-count">
	</span>
	</span>
	</a>-->
	<a href="#">
	  <button class="header__menu-icon">
	    <img src="/static/images/public/notification.png" />
	    <!--<span>3</span>-->
	  </button>
	</a>
	<a href="#">
	  <button class="header__menu-icon">
	    <img src="/static/images/public/img_arrow_down_black_900_01.svg" />
	  </button>
	</a>
	<a href="#">
	  <button class="header__upload-icon">
	    <img src="/static/images/public/tab_icon.png"
		 alt="hide-sidebar" />
	  </button>
	</a>
		</div>
	      </div>
	    </header>

	    <section id="dynamic__load-dashboard">
	       <!-- Dashboard section loadeed here -->
	    </section>

	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
