<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Explore our room services and manage reservations efficiently. From deluxe to standard rooms, ensure a pleasant stay with complementary breakfast and top-notch amenities."
      />

    <!-- Link Hotel Icon -->
    <link rel="icon" type="image/x-icon" href="/static/images/public/hotel_logo.png" />

    <!-- Link Font-Is-Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

    <!-- Link Public CSS Files-->
    <link rel="stylesheet" type="text/css" href="/static/css/public/index.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/public/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/public/styles.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/public/components.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/public/side_nav.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/public/header.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/public/table.css" />

    <!-- Link Staff_dashboard CSS Files-->
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/room_service.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/main_dashboard.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/restaurant.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/order.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/empty_cart.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/guests/guest_list.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/guests/guest_input.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/profile.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/loan_request.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/leave_request.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/add_edit_room.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/vendor.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/maintenance.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/report.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard/inventory.css" />

    <!-- Link Staff_dashboard JS Files-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script type="module" defer src="/static/js/dashboard/common.js"></script>
    <script type="module" defer src="/static/js/dashboard/constant.js"></script>

    <script type="module" defer src="/static/js/dashboard/restaurant.js?v1"></script>
    <script type="module" defer src="/static/js/dashboard/room_service.js"></script>
    <script type="module" defer src="/static/js/dashboard/app.js?v2"></script>
    <script type="module" defer src="/static/js/dashboard/main_dashboard.js?v3"></script>
    <script type="module" defer src="/static/js/dashboard/order.js?v1"></script>
    <script type="module" defer src="/static/js/dashboard/guest.js"></script>
    <script type="module" defer src="/static/js/dashboard/profile.js"></script>
    <script type="module" defer src="/static/js/dashboard/loan_request.js"></script>
    <script type="module" defer src="/static/js/dashboard/leave_request.js"></script>
    <script type="module" defer src="/static/js/dashboard/vendor.js"></script>
    <script type="module" defer src="/static/js/dashboard/maintenance.js"></script>
    <script type="module" defer src="/static/js/dashboard/search_engine.js"></script>
    <script type="module" defer src="/static/js/dashboard/update_payment_type.js?v5"></script>
  </head>
  <body>
    <!-- main content section -->
    <div class="container">
      <div class="row">
        <!-- sidebar navigation section -->
        <aside class="sidebar">
          <div class="sidebar__logo-row">
            <img src="/static/images/public/hotel_logo.png" alt="Hotel Logo" class="sidebar__logo" />
          </div>
          <ul class="sidebar__menu staff__sidebar-menu">
            <li id="sidebar__main" class="highlight-sidebar sidebar__nav-icon">
              <a>
                <img src="/static/images/public/dashboard_icon.png" alt="Dashboard Icon" class="sidebar__icon--dashboard" />
		<p>Dashboard <b id="current-terminal"></b></p>
              </a>
            </li>
            <li id="sidebar__service" class="">
              <a>
                <img src="/static/images/dashboard/room_services_icon.png" alt="Services Icon" class="sidebar__icon--services" />
                <span> Services </span>
                <img id="service__dropdown" class="service__dropdown" src="/static/images/public/img_arrow_down_black_900_01.svg" width="21px" alt="dropdown" />
              </a>
            </li>
            <div id="service__menu" class="service__menu hide">
              <a class="sidebar__nav-icon" id="sidebar__restaurant"> Restaurant </a>
              <a class="sidebar__nav-icon" id="sidebar__bar"> Bar </a>
              <a class="sidebar__nav-icon" id="sidebar__laundry"> Laundry </a>
              <a class="sidebar__nav-icon" id="sidebar__game"> Games </a>
            </div>
            <li id="sidebar__order" class="sidebar__nav-icon">
              <a>
                <img src="/static/images/dashboard/orders_icon.png" alt="Orders Icon" class="sidebar__icon--orders" />
                <div>
                  <span>Orders</span>&nbsp;&nbsp;&nbsp;&nbsp;
                  <span id="sidebar__order-count"><!-- The count of cart items will be display here --></span>
                </div>
              </a>
            </li>
            <li id="sidebar__Room" class="sidebar__nav-icon">
              <a>
                <i class="fa fa-door-open"></i>
                <span> Rooms </span>
              </a>
            </li>

            <li id="sidebar__guest" class="sidebar__nav-icon">
              <a>
                <img src="/static/images/dashboard/guests_icon.png" alt="Guests Icon" class="sidebar__icon--guests" />
                <span> Guests </span>
              </a>
            </li>
            <li id="sidebar__maintenance" class="sidebar__nav-icon">
              <a>
                <img src="/static/images/dashboard/maintainence_icon.png" alt="Maintainenc Icon" class="sidebar__icon--services" />
                <span> Maintenances</span>
              </a>
            </li>
            <li id="sidebar__logout" class="sidebar__nav-icon">
              <a>
                <img src="/static/images/public/logout_icon.png" alt="Logout Icon" class="sidebar__icon--services" />
                <span> Logout </span>
              </a>
            </li>
          </ul><br><br>
          <div class="sidebar__profile-row">
            <img src="/static/images/public/profile_photo_placeholder.png" alt="Profile Image" class="sidebar__profile-image" />
            <div class="sidebar__staff-profile">
              <div class="sidebar__name-column">
                <h5 id="sidebar__name" class="sidebar__name ui heading size-headingmd"><!--Name will be dynamically be loaded--></h5>
                <h6 id="sidebar__email" class="ui text size-textxs"><!--Dynamically load email--></h6>
              </div>
              <i class="fa fa-ellipsis-v fa-2x drop-down" id="sidebar__staff--profile-btn" ></i>
            </div>
          </div>
        </aside>

        <div>
          <ul style="z-index: 100;" class="notifications-dropdown hidden sidebar_dropdown__menu">
            <li id="sidebar__profile">
              <a>
                <img src="/static/images/public/sidebar_profile_icon.png" alt="Dashboard Icon" class="sidebar__icon--dashboard" />
                <span> Profile</span>
              </a>
            </li>
            <li id="side__bar-loanRequest">
              <a>
                <img src="/static/images/public/sidebar_request-loan_icon.png" alt="Dashboard Icon" class="sidebar__icon--dashboard" />
                <span> Request Loan</span>
              </a>
            </li>
            <li id="side__bar-leaveRequest">
              <a>
                <img src="/static/images/public/sidebar_request-leave_icon.png" alt="Dashboard Icon" class="sidebar__icon--dashboard" />
                <span> Request Leave</span>
              </a>
            </li>
          </ul>
        </div>

        <!-- side navigation bars ends here -->
        <div class="column_two">
          <!-- search and tabs section -->
          <div class="columnsearch">
            <!-- search header section -->
            <header class="header">
              <div class="header__search-row">
                <label class="header__search-input">
                  <img id="search__bar" src="/static/images/public/serarch_icon.png" alt="Rewind" class="rewind drop-down" />
                  <input name="Search Input" placeholder="Search" type="text" />
                </label>
                <div class="header__icon-row">
                  <!--<a href="{{ url_for('app_views.chat') }}">
                    <span class="header__menu-icon">
                    <i class="fa-solid fa-user-friends"></i>
                    </span>
                    </a>-->
                    <a href="{{ url_for('app_views.chat') }}">
                      <span class="header__menu-icon">
                        <img src="/static/images/public/message_icon.svg" />
                        <!--<span id="unread__message-count">
                          </span>-->
                      </span>
                    </a>
                    <a href="#">
                      <button class="header__menu-icon">
                        <img src="/static/images/public/notification.png" />
                        <span>3</span>
                      </button>
                    </a>
                    <a href="#">
                      <button class="header__menu-icon">
                        <img src="/static/images/public/img_arrow_down_black_900_01.svg" />
                      </button>
                    </a>
                    <a href="#">
                      <button class="header__upload-icon">
                        <img src="/static/images/public/tab_icon.png"
                             alt="hide-sidebar" />
                      </button>
                    </a>
                </div>
              </div>
            </header>

            <section id="dynamic__load-dashboard">
              <!-- Others dashboard section will be loaded here -->
              <div class="main__container">
                <div class="card">
                  <div>
                    <p>Dashboard</p>
                    <div class="main__welcom-user">
                      <div>
                        <h1>Hello <span id="main__username"><!-- username goes here --></span></h1>
                        <span>Welcome back!</span>
                      </div>
                      <br>
                      <span class="emoji"><img src="/static/images/public/waving_hello_smile_icon.png" /></span>
                      <div class="date"> {{ today }}
                        <span class="calendar-icon">📅</span>
                      </div>
                    </div>
                  </div>

                  <div class="controls">
                    <div class="toggle">
                      <label class="switch">
                        <input type="checkbox" id="toggle-switch">
                        <span class="slider"></span>
                      </label>
                      <p>State: <span id="toggle-state">0</span></p>
                    </div>

                    <div class="performance">
                      <p>Performance <span class="percent"><em id="staff_performance-indexing"><!-- Staff performance dynamically loaded here --></em></span></p>
		      <button class="track-btn ui heading size-headings" style="color: white;">View Roster</button>
                    </div>
                  </div>
                </div>

                <div class="scroll-wrapper">
                  <div class="main__room-status">
                    <div class="main__room-status3">
                      <div>
                        <div class="main__row-1 blue">
                          <i class="fas fa-cash-register"></i>
                        </div>
                        <p>Today Sale's </p>                                                                                                                                                  </div>
                      <div class="main__row-2">
                        <button id="main__today-sales--view" class="highlight-btn">View Sale's </button>
                        <h1><em></em></h1>
                      </div>
                    </div> 
                    <div class="main__room-status1">
                      <div>
                        <div class="main__row-1 green">
                          <i class="fas fa-calendar"></i>
                        </div>
                        <p>Today's Checkin </p>
                      </div>
                      <div class="main__row-2">
                        <button id="main__room-available--view" class="highlight-btn">View Rooms </button>
                        <h1><em id="main__today-check--in">0</em></h1>
                      </div>
                    </div>

                    <div class="main__room-status3">
                      <div>
                        <div class="main__row-1 blue">
                          <i class="fas fa-home"></i>
                        </div>
                        <p>Rooms Available </p>
                      </div>
                      <div class="main__row-2">
                        <button class="highlight-btn">View Rooms </button>
                        <h1><em id="main__room-available">0</em></h1>
                      </div>
                    </div>

                    <div class="main__room-status4">
                      <div>
                        <div class="main__row-1 orange">
                          <i class="fas fa-shopping-cart"></i>
                        </div>
                        <p>Today Order's </p>
                      </div>
                      <div class="main__row-2">
                        <button class="highlight-btn">View Orders </button>
                        <h1><em id="main__todays-order">0</em></h1>
                      </div>
                    </div>
                    <div class="main__room-status2">
                      <div>
                        <div class="main__row-1 red">
                          <i class="fas fa-users"></i>
                        </div>
                        <p>Vendor's List </p>
                      </div>
                      <div class="main__row-2">
                        <button id="vendor__list-btn" class="highlight-btn">View Vendors </button>
                        <h1 id="count__vendors"><em></em></h1>
                      </div>
                    </div>

                  </div>
                </div>

                <form id="main__book-form">
                  <div class="flex-column">
                    <h3>Add New Booking</h3>
                    <div class="flex-row">
                      <div>
                        <p>Instant Payment?<span class="important">*</span></p>
                        <div class="dropdown">
                          <div id="main__guest-payment--status"  class="main__dropdown-btn drop-down">
                            <span>Select </span>
                            <img src="/static/images/public/img_arrow_down_black_900_01.svg" width="15px" alt="dropdown" />
                          </div>
                          <div class="dropdown-menu">
                            <ul class="main__dropdown--menu-list">
                              <!-- ally load menu list -->
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div>
                        <p>Booking Type <span class="important">*</span></p>
                        <div class="dropdown">
                          <div id="main__booking-type" class="main__dropdown-btn drop-down">
                            <span>Select </span>
                            <img src="/static/images/public/img_arrow_down_black_900_01.svg" width="15px" alt="dropdown" />
                          </div>
                          <div class="dropdown-menu">
                            <ul class="main__dropdown--menu-list">
                              <!-- Dynamically load menu list -->
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div id="main__payMethod-container">
                        <p>Payment Method <span class="important">*</span></p>
                        <div class="dropdown">
                          <div id="main__payMethod" class="main__dropdown-btn drop-down">
                            <span>Select </span>
                            <img src="/static/images/public/img_arrow_down_black_900_01.svg" width="15px" alt="dropdown" />
                          </div>
                          <div class="dropdown-menu">
                            <ul class="main__dropdown--menu-list">
                              <!-- Dynamically load menu list -->
                            </ul>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="flex-row">
                      <div id="main__checkin-container" class="hide">
                        <p>Check In <span class="important">*</span></p>
                        <input id="main__check-in" type="date" required>
                      </div>
                      <div id="main__checkout-container" class="hide">
                        <p>Check Out <span class="important">*</span></p>
                        <input id="main__checkout-date" type="date" required>
                      </div>

                      <div id="main__earlyin-container" class="hide">
                        <p>Early CheckIn? <span class="important">*</span></p>
                        <div class="dropdown">
                          <div id="main__early-checkin" class="main__dropdown-btn drop-down">
                            <span>Select </span>
                            <img src="/static/images/public/img_arrow_down_black_900_01.svg" width="15px" alt="dropdown" />
                          </div>
                          <div class="dropdown-menu">
                            <ul class="main__dropdown--menu-list">
                              <!-- Dynamically load menu list -->
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <h3>Room Details</h3>
                    <div class="flex-row">
                      <div>
                        <p>Room Number <span class="important">*</span></p>
                        <div class="dropdown">
                          <div id="main__dropdown--room-no" class="main__dropdown-btn drop-down">
                            <span>Select </span>
                            <img
                              src="/static/images/public/img_arrow_down_black_900_01.svg"
                              width="15px"  alt="dropdown"
                                            />
                          </div>
                          <div class="dropdown-menu">
                            <ul class="main__dropdown--menu-list">
                              <!-- Dynamically load  menu list -->
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div>
                        <p>Booking Rate <span class="important">*</span></p>
                        <input id="main__room-rate" value="Auto-filled based on room no." readonly>
                      </div>
                      <div>
                        <p>Room Type <span class="important">*</span></p>
                        <input id="main__room-type" value="Auto-filled based on room no." readonly>
                      </div>
                    </div>

                    <div class="flex-row">
                      <div>
                        <p>Duration <span class="important">*</span></p>
                        <input id="main__night-count" readonly placeholder="Auto-filled based on room no." />
                      </div>
                    </div>

                    <h3>Guest Details</h3>
                    <div class="flex-row">
                      <div class="">
                        <p>Name <span class="important">*</span></p>
                        <input id="main__guest-name" placeholder="e.g., James John">
                      </div>
                      <div>
                        <p>Phone No. <span class="important">*</span></p>
                        <input type="text" maxlength="11" pattern="\d{11}" id="main__guest-phone" title="Enter exactly 11 digit" id="main__guest-phone" placeholder="e.g., 08187643578">
                      </div>
                      <div>
                        <p>Address <span class="important">*</span></p>
                        <input id="main__guest-address" placeholder="e.g., No. AdO Rd. Ikere-Ekiti">
                      </div>
                    </div>

                    <div class="flex-row">
                      <div>
                        <p>Gender <span class="important">*</span></p>
                        <div class="dropdown">
                          <div id="main__guest-gender" class="main__dropdown-btn drop-down">
                            <span>Select </span>
                            <img src="/static/images/public/img_arrow_down_black_900_01.svg" width="15px" alt="dropdown" />
                          </div>
                          <div class="dropdown-menu">
                            <ul class="main__dropdown--menu-list">
                              <!-- Dynamically load menu list -->
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div>
                        <p>Guest No. <span class="important">*</span></p>
                        <input id="main__guest-no" placeholder="e.g., 1 male, 1 female" required>
                      </div>

                      <div>
                        <p>ID Type</p>
                        <div class="dropdown">
                          <div id="main__guest-id--type" class="main__dropdown-btn drop-down">
                            <span>Select </span>
                            <img src="/static/images/public/img_arrow_down_black_900_01.svg" width="15px" alt="dropdown" />
                          </div>
                          <div class="dropdown-menu">
                            <ul class="main__dropdown--menu-list">
                              <!-- Dynamically load menu list -->
                            </ul>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="flex-row">
                      <div>
                        <p>ID Number</p>
                        <input id="main__id--no-val" placeholder="e.g., 1234-4u765-8767tfer-hg64w" />
                      </div>

                      <div>
                        <p>Email</p>
                        <input id="main__guest-email" type="email" placeholder="e.g., john@gmail.com" />
                      </div>

                      <!-- Use to patch -->
                      <div style="visibility: hidden">
                        <!-- Hidden input field to maintain 3 fields per row -->
                        <input />
                      </div>

                    </div>
                    <div class="main__btn">
                      <button class="highlight-btn">Proceed</button>
                    </div>

                    <!-- Holds value of options selected in menu -->
                    <!-- This aid in submitting this data with form -->
                    <input id="main__is--paid-val" required type="hidden" /> <!-- Selected Payment Status Option -->
                    <input id="main__room--no-val" required type="hidden" /> <!-- Selected Room No. Option -->
                    <input id="main__guest--gender-val" required type="hidden" /> <!-- Selected Gender. Option -->
                    <input id="main__id--type-val" type="hidden" /> <!-- Selected Room No. Option -->
                    <input id="main__id--checkin-val" type="hidden" /> <!-- Selected booking type option -->
                    <input id="main__id--bookingtype-val" type="hidden" required /> <!-- Selected if early checkin options -->
                    <input id="main__id--paymmentType-val" type="hidden" required />

                    <!--<input id="main__room-amount" required type="idden" />-->

                  </div>
                </form>
              </div>

              <!-- Confirmation Modal for Booking -->
              <div id="main__popup-modal" class="modal">
                <div class="modal-content">
                  <!--<button id="closeModal" class="close-btn">×</button>-->
                  <h2>Confirm Booking!</h2>
                  <div class="modal-buttons">
                    <button id="main__cancel-btn" class="highlight-btn cancel-btn">Cancel</button>
                    <button id="main__confirm-btn" class="highlight-btn confirm-btn">Confirm</button>
                  </div>
                </div>
              </div>

              <!-- Popup Modal to for sales details -->
              <div id="main__sales-breakdown" class="popup-modal">
                <div class="popup-modal-content sales__popup-modal-content">
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
