<div class="guest__input-container">
  <div class="guest-tab">
    <div class="tab ui heading size-headingmd guest__title">Guests</div>
  </div>

  <!-- room table section -->
  <div class="guest-input-column">
    <section id="guest-inputForm" class="guest-input-container">
      <div class="guest-page-edit-header">
        <img src="/static/images/public/edit_icon.png" alt="edit" style="height: 20px; padding-right: 1rem;" />
        <p>Edit</p>
      </div>
      <div class="guest-page-input-row">
        <div class="guest-page-edit-input">
          <div>
            <p>Booking Type</p>
            <div class="dropdown">
              <div id="guest__booking-type" class="drop-down">
                <span>Select </span>
                <img src="/static/images/public/img_arrow_down_black_900_01.svg" width="15px" alt="dropdown" />
              </div>
              <div id="guest__booking-type-menu" class="dropdown-menu">
                <ul class="guest__dropdown--menu-list">
                  <li class="table__header-cell-1 ui heading size-headings guest__booking-option dropdown-item">Short Time</li>
                  <li class="table__header-cell-1 ui heading size-headings guest__booking-option dropdown-item">Full Time</li>
		  <li class="table__header-cell-1 ui heading size-headings guest__booking-option dropdown-item">Half Day</li> 
		  <li class="table__header-cell-1 ui heading size-headings guest__booking-option dropdown-item">Late Checkout</li> 
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="guest__checkin-container" class="guest-page-edit-input">
          <label for="checkin">Check In</label><br>
          <input id="guest__checkinDate" type="date">
        </div>
        <!--<div class="guest-page-edit-input">
          <label for="duration">Duration</label><br>
          <input id="guest__duration" type="text">
          </div>-->
          <div id="guest__checkout-container" class="guest-page-edit-input">
            <label for="checkout">Check Out</label><br>
            <input id="guest__checkout" type="date">
          </div>
      </div>
      <span style="position: relative; font-size: x-large; font-weight: bolder; top: 4rem;">Room Details</span>
      <div class="guest-page-input-row" style="top: 5rem;">
        <div class="guest-page-edit-input">
          <label for="room_number">Room Number</label><br>

          <!-- Dropdown menu is handle main main_dashboard module -->
          <div class="dropdown">
            <div id="guest__dropdown--room-no" class="drop-down guest__room-no">
              <span id="guest__room-number-menu">Select </span>
              <img
                src="/static/images/public/img_arrow_down_black_900_01.svg"
                width="15px"  alt="dropdown"
                              />
            </div>
            <div class="dropdown-menu">
              <ul class="main__dropdown--menu-list">
                <!-- Dynamically load  menu list -->
              </ul>
            </div>
          </div>
        </div>
        <div class="guest-page-edit-input">
          <label for="room_type">Room Type</label><br>
          <input id="guest__roomType" required readonly />
        </div>
        <div class="guest-page-edit-input">
          <label for="room rate">Booking Rate</label><br>
          <input id="guest__roomAmount" readonly />
        </div>
        <div class="guest-page-edit-input">
          <p>Duration </p>
          <input id="guest__night-count" readonly placeholder="Auto-filled based on room no." />
        </div>
      </div>
      <span style="position: relative; font-size: x-large; font-weight: bolder; top: 7rem;">Guest Details</span>
      <div class="guest-page-input-row" style="top: 8rem;">
        <div class="guest-page-edit-input">
          <label for="name">Name</label><br>
          <input id="guest__name" required type="text">
        </div>
        <div class="guest-page-edit-input">
          <label for="number">Phone Number</label><br>
          <input id="guest__phoneNumber" required>
        </div>
        <div class="guest-page-edit-input">
          <label for="address">Address</label><br>
          <input id="guest__address" type="text" required>
        </div>
      </div>
      <div class="guest-page-input-row" style="top: 9rem; padding-bottom: 4rem;">
        <div class="guest-page-edit-input">
          <label for="gender">Gender</label><br>

          <div class="dropdown">
            <div id="guest-gender" class="guest__dropdown-btn drop-down">
              <span>Select </span>
              <img src="/static/images/public/img_arrow_down_black_900_01.svg" width="15px" alt="dropdown" />
            </div>
            <div id="guest__gender-dropdown" class="dropdown-menu">
              <ul class="guest__dropdown--menu-list">
                <li class="guest__age-dropdown dropdown-item">Male</li>
                <li class="guest__age-dropdown dropdown-item">Female</li>
              </ul>
            </div>
          </div>

        </div>
        <div class="guest-page-edit-input">
          <label for="guest number">Guest No.</label><br>
          <input id="guest__numberOccupant" type="text" required>
        </div>
        <div class="guest-page-edit-input">
          <label for="identify">ID Type</label><br>
          <div class="dropdown">
            <div id="guest-idType" class="guest__dropdown-btn drop-down">
              <span>Select </span>
              <img src="/static/images/public/img_arrow_down_black_900_01.svg" width="15px" alt="dropdown" />
            </div>
            <div id="guest__idType-dropdown" class="dropdown-menu">
              <ul class="order__dropdown--menu-list">
                <li class="guest__idtype-dropdown dropdown-item">NIN</li>
                <li class="guest__idtype-dropdown dropdown-item">Voter_Card</li>
                <li class="guest__idtype-dropdown dropdown-item">Driver_License</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="guest-page-edit-input">
          <label for="identification">ID Number</label><br>
          <input id="guest__idNumber" class="last-input" type="text" required />
        </div>
      </div>
      <div class="guest__input_btn">
        <button id="guest__input_btn" type="button">Proceed</button>
      </div>

      <!-- Stores input to be submitted along with form -->
      <input id="guest__genderValue" type="hidden" required /> <!-- Guest gender from menu -->
      <input id="guest__idTypeValue" type="hidden" required /> <!-- Guest IDType from menu -->
      <input id="guest__booking-id" type="hidden" required /> <!-- Stores booking ID -->
      <input id="guest__room-number" type="hidden" required />
      <input id="room__rate" type="hidden" required />
      <input id="is__early-checkin" type="hidden" required />
    </section>
  </div>
</div>
