<div class="dashboard-section">
  <header class="dashboard-header">
    <h1 id="restaurant__bar-title"><!-- Title loaded dynamically --></h1>
  </header>
  <div class="food-categories">
    <button class="highlight-btn filter tab__item-2 ui heading size-texts ">Open Bar</button>
    <button class="filter tab__item-2 ui heading size-texts ">Game House</button>
    <button class="filter tab__item-2 ui heading size-texts ">Club House</button>
    <button class="filter tab__item-2 ui heading size-texts">Private Lounge</button>
  </div>
  <div id="restaurant__food--drinks" class="food-grid">
    <!-- Restaurant item will be loaded dynamically -->
  </div>
</div>
