<div class="dashboard-section">
  <header class="dashboard-header">
    <h1 id="restaurant__bar-title"><!-- Title loaded dynamically --></h1>
  </header>
  <div class="food-categories">
    <button class="restaurant__bar highlight-btn filter tab__item-2 ui heading size-texts" id="room">Room</button>
    <button class="restaurant__bar filter tab__item-2 ui heading size-texts" id="open-bar">Open Bar</button>
    <button class="restaurant__bar filter tab__item-2 ui heading size-texts" id="game__house">Game House</button>
    <button class="restaurant__bar filter tab__item-2 ui heading size-texts" id="vip__lounge">VIP Lounge</button>
    <button class="restaurant__bar filter tab__item-2 ui heading size-texts" id="private__lounge">Private Lounge</button>
    <button class="restaurant__bar filter tab__item-2 ui heading size-texts" id="club__house">Club/Restaurant House</button>
  </div>
  <div id="restaurant__food--drinks" class="food-grid">
    <!-- Restaurant item will be loaded dynamically -->
 </div>
</div>
