<div class="room_service">
  <!-- room service tabs section -->
  <div class="room__section-btn">
    <div class="tab">
      <h1 id="rooms" class="tab__item ui heading size-headingxs filter highlight-btn">Rooms</h1>
      <h2 id="services" class="tab__item ui heading size-headingxs filter">Services</h2>
    </div>
    <button id="add-room" class="tab__item ui heading size-headingxs filter">+ Add Room</button>
  </div>

  <div id="rooms-section" class="column_rooms">
    <!-- room availability section -->
    <div class="info">
      <div class="tab-1">
        <h3 id="all__rooms" class="tab__item-2 ui heading size-texts filter highlight-btn">All Rooms</h3>
        <h3 id="rooms__available" class="tab__item-2 ui heading size-texts filter">Available</h3>
        <h4 id="rooms__occupied" class="tab__item-2 ui heading size-texts filter">Occupied</h4>
        <h5 id="rooms__reserved" class="tab__item-2 ui heading size-texts filter">Reserved</h5>
      </div>
      <h6 class="info-text ui heading size-texts">All Rooms come with a complementary breakfast!</h6>
    </div>

    <!-- room table section -->
    <div class="table-column room__table-column">
      <table cellpadding="0" cellspacing="0" class="tabletype ui table size-xs">
        <thead>
          <tr>
            <th width="348px">
              <p class="table__header-cell ui heading size-headings">Image</p>
            </th>
            <th width="318px">
              <p class="table__header-cell-1 ui heading size-headings">Type</p>
            </th>
            <th width="310px">
              <p class="table__header-cell-2 ui heading size-headings">Rate</p>
            </th>
            <th width="204px">
              <p class="table__header-cell-3 ui heading size-headings">Status</p>
            </th>
            <th width="200px">
              <!-- Heading for Edit Icon -->
            </th>
            <th width="200px">
              <!-- Heading for Delete Icon -->
            </th>
          </tr>
        </thead>
        <tbody id="room-table-body" class="room-table-body">
          <!-- Rows will be dynamically added here -->
        </tbody>
      </table>
    </div>
  </div>


  <div id="add__new-room--section" class="room__container">
    <div class="add_room">
      <h2 id="room__action-edit--add"><!-- Edit or Add title goes here --></h2>
      <div class="room_img">
        <img
          src="/static/images/public/profile_photo_placeholder.png"
          alt="Hotel Room Photo"
          class="room__image room__edit-icon"
          id="add__new-room"
          />
        <div class="edit">
          <img
            src="/static/images/public/edit_icon.png"
            alt="Edit Icon"
            class="room__edit-icon"
            id="room__image-selector"
            />
          <!-- Triggered when profile image is clicked -->
          <input type="file" style="display: none;" id="room__image-fileInput" accept="image/*"  />

        </div>
      </div>
      <form id="new__room-form">
        <!-- Stores Base64 data -->
        <input name="image"  type="hidden" />

        <div class="room_info">
          <div class="room__first-col">
            <div>
              <label class="room_name" for="name"><b>Room Name</b></label><br>
              <input
                type="text"
                name="name"
                placeholder="e.g., Standard" required
                />
            </div>
            <div>
              <label class="room_name" for="number"><b>Room NO.</b></label><br>
              <input
                type="number"
                name="number"
                placeholder="e.g., 211" required
                />
            </div>
          </div>

          <div>
            <label class="room_name" for="rate"><b>Room Rate</b></label><br>
            <input
              type="number"
              name="amount"
              placeholder="e.g., 18,750" required
              />
          </div>
        </div>

        <div class="add__room-btns">
          <button class="filter" type="reset">Cancel</button>
          <button id="room__add-new" class="highlight-btn save-btn" type="submit">Save</button>
        </div>

        <!-- Store room id in hidden input form field -->
        <input id="room__id" type="hidden">
      </form>
    </div>
  </div>

  <!-- Service Section -->
  <section id="services-section" class="services-section">
    <h2 class="bottom-marg quick_services"><em>Quick Service Check</em></h2>
    <div class="check-btn">
      <button id="guest__extend-stay" class="tab__item ui heading size-headingxs highlight-btn">
        Extend by Night(s)
      </button>
      <button id="half__day-booking" class="tab__item ui heading size-headingxs highlight-btn">
        Extend by Half Day
      </button>
      <button id="late__checkout" class="tab__item ui heading size-headingxs highlight-btn">
        Late Checkout
      </button>
    </div><br />
    <div class="room__details">
      <div>
        <h5 class="bottom-marg"><em>Room No.</em></h5>
        <div class="dropdown room__dropdown">
          <div id="room__number-dropdown-btn" class="drop-down">
            <span>Select </span>
            <img src="/static/images/public/img_arrow_down_black_900_01.svg" width="15px" alt="dropdown" />
          </div>
          <div class="dropdown-menu" id="room__number-dropdown">
            <ul class="main__dropdown--menu-list">
              <!-- Menu list loaded here dynamically -->
            </ul>
          </div>
        </div>
      </div>

      <div>
        <h5 class="bottom-marg"><em>Room Type</em></h5>
        <input id="room__type" readonly placeholder="Auto-fill" required />
      </div>

      <div>
        <h5 class="bottom-marg">Room Rate</h5>
        <input id="room__amount-rate" readonly placeholder="Auto-fill" required />
      </div>

      <div>
        <h5 class="bottom-marg"><em>Guest Name</em></h5>
        <input id="room__occupant-name" readonly placeholder="Auto-fill" required />
      </div>
    </div>

    <div class="service-list">
      <h4 class="description"><em>Service List</em></h4>
      <img id="show__service--list--btn" class="drop-down rotate__270degree-clockwise" src="/static/images/public/img_arrow_down_black_900_01.svg" width="20px" alt="dropdown">
    </div>

    <!-- Temporarily stored booking ID -->
    <input id="booking__id" type="hidden" />

    <div class="service___list-orders" id="service___list-orders">
      <div class="servicelist__filterBtn-container">
        <h3 id="servicelist__all--btn" class="service__filter-btn tab__item-2 ui heading size-texts filter highlight-btn">All</h3>
        <h3 id="servicelist__pending--btn" class="service__filter-btn tab__item-2 ui heading size-texts filter">Pending</h3>
        <h4 id="servicelist__paid--btn" class="service__filter-btn tab__item-2 ui heading size-texts filter">Paid</h4>
      </div>
      <table  cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th width="348px">
              <p class="table__header-cell ui heading size-headings">
              Purchase Item<br /><br />
              </p>
            </th>
            <th width="348px">
              <p class="table__header-cell ui heading size-headings">
              Purchase Date<br /><br />
              </p>
            </th>
            <th width="348px">
              <p class="table__header-cell ui heading size-headings">
              Payment Status<br /><br />
              </p>
            </th>
            <th width="348px">
              <p class="table__header-cell ui heading size-headings">
              Amount Paid<br /><br />
              </p>
            </th>
            <th width="348px">
              <p class="table__header-cell ui heading size-headings">
              <!-- Placeholder for table menu icon -->
              </p>
            </th>
          </tr>
        </thead>
        <tbody class="order__history--table-body">
          <!-- Table data will dynamically be loaded here -->
        </tbody>
      </table>
    </div>

    <div class="total-charge">
      <h4 class="charge"><em>Total Charge</em></h4>
      <h4 class="amount">
        <em>
          <span id="service__dollar-sign">₦</span>
          <span id="total__service-charge--amount">0.00</span>
        </em>
      </h4>
    </div>

    <div class="print-proceed-btns">
      <!--<p class="print-btn">Print Receipt</p>-->
      <button id="room__checkout-btn" class="proceed-btn">Check Out</button>
    </div>
  </section>
</div>

<!-- Popup Modal for Order Details -->
<!-- This section is handled by order.js module -->
<div id="common__popupModal" class="popup-modal">
  <div class="popup-modal-content order__popup-modal">
    <!-- Close Button -->
    <button class="close-btn closePopupModal">×</button>

    <h1>Order Details</h1>
    <div class="order__details">
      <div id="order__info" class="order__info">
        <!-- Order info will be dynamically loaded here -->
      </div>
      <div class="order__item-list">
        <h3>Order Items</h3>
        <ul id="order__itemList">
          <!-- Items ordered will be listed here -->
        </ul>
      </div>
    </div>
    <div class="order__summary">
      <div class="order__total-cost">
        <p>Amount</p>
        <p id="order__totalAmount"></p>
      </div>
      <button id="order__print-receipt" class="highlight-btn">Print Receipt</button>
    </div>
  </div>
</div>

<!-- Popup modal to extend guest stay in a room -->
<div id="guest__extend-stay--modal" class="popup-modal">
  <div class="popup-modal-content guest__popup-modal-content">
    <!-- Close Button -->
    <button class="close-btn closePopupModal">×</button>
    <form id="guest__extend-stay--form">
      <h2>Night(s) Extension Booking</h2><br>
      <b>Check In: 
        <span class="important">*</span>
      </b> &nbsp;&nbsp;&nbsp;
      <input type="date" name="checkin" required readonly \><br><br>
      <b>Check Out: 
        <span class="important">*</span></b> &nbsp;
      <input type="date" name="checkout" required></br><br>
      <b>Duration: 
        <span class="important">*</span>
      </b> &nbsp;
      <input id="count__nights" required readonly placeholder="Auto-filled"></br><br>

      <div class="guest__drop-down--menu">
        <p><strong>Instance Payment:
          <span class="important">*</span>
        </strong></p>
        <div class="dropdown guest__dropdown-btn--container">
          <div id="guest__ispaid" class="guest__dropdown-btn drop-down">
            <span>Select </span>
            <img src="/static/images/public/img_arrow_down_black_900_01.svg" width="15px" alt="dropdown" />
          </div>
          <div class="dropdown-menu" id="guest__ispaid-dropdown">
            <ul class="guest__dropdown--menu-list">
              <li class="guest__dropdown-selector dropdown-item">Yes</li>
              <li class="guest__dropdown-selector dropdown-item">No</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="guest__drop-down--menu">
        <br><p><strong>Payment Type:
          <span class="important">*</span>
        </strong></p>
        <div class="dropdown guest__dropdown-btn--container">
          <div
	    id="guest__extendday-payMethod"
	    class="guest__extendday-payMethod-btn drop-down"
	  >
            <span>Select </span>
            <img src="/static/images/public/img_arrow_down_black_900_01.svg" width="15px" alt="dropdown" />
          </div>
          <div class="dropdown-menu" id="guest__extendday-payMethod--dropdown">             
            <ul class="guest__dropdown--menu-list">        
              <li class="guest__payMethod-selector dropdown-item">POS</li>      
              <li class="guest__payMethod-selector dropdown-item">Cash</li>         
              <li class="guest__payMethod-selector dropdown-item">Transfer</li>
            </ul>       
          </div>
        </div>
      </div>    

      <div class="guest__add-edit--btnContainer">
        <button id="extend__guest-stay--btn" class="highlight-btn guest__add-edit--btn">Save</button>
      </div>
      <input id="guest__lodged-room--id" type="hidden" required />
      <input id="guest__lodged-id" type="hidden" required />
      <input id="room__price-val" type="hidden" required />
      <input id="guest__occupant-no" type="hidden" required />
    </form>
  </div>
</div>

<!-- Loading of this data is handle by guest.js module -->
<!-- Popup Modal For Guest details -->
<div id="guest__popupModal" class="popup-modal">
  <div class="popup-modal-content guest__popup-modal">
    <!-- Close Button -->
    <button class="close-btn closePopupModal">&times;</button>

    <h1>Booking Details</h1>
    <div id="guest__info" class="guest__info">
      <!-- Order info will be dynamically loaded here -->
    </div>

    <div class="room__summary">
      <div class="room__total-cost">
        <p>Amount</p>
        <p id="room__totalAmount"></p>
      </div>
      <button id="booking__print-receipt" class="highlight-btn">Print Receipt</button>
    </div>
  </div>
</div>

<div id="late__checkout-popup--modal" class="popup-modal">
  <div class="popup-modal-content">
    <!-- Close Button -->
    <button class="close-btn closePopupModal">&times;</button>
    <h1 id="booking__extension-title"><!-- Title Dynamically Loaded --></h1>

    <div>
      <p id="latecheckout__confirmation-description">
      <!-- This section dynamically loaded -->
      You are about to extend the duration of Room <span id="booking__extension-room"></span>
      by <span id="booking__extension-duration"></span>. An additionally charge of
      N<span id="booking__extension-amoumt"></span> is required. Please select
      the option and click "confirm" button to proeced. 
      </p>

      <div class="latecheckout__drop-down--menu">
        <div>
          <p><strong>Instance Payment?:
            <span class="important">*</span>
          </strong></p>
          <div class="dropdown latecheckout__dropdown-btn--container">
            <div id="late__checkout-ispaid" class="late__checkout-dropdown--btn drop-down">
              <span>Select </span>
              <img src="/static/images/public/img_arrow_down_black_900_01.svg" width="15px" alt="dropdown" />
            </div>
            <div class="dropdown-menu" id="late__checkout-ispaid--dropdown">
              <ul class="latecheckout__dropdown--menu-list">
                <li class="latecheckout__dropdown-selector dropdown-item">Yes</li>
                <li class="latecheckout__dropdown-selector dropdown-item">No</li>
              </ul>
            </div>
          </div>
        </div>

        <div>
          <p><strong>Payment Type:
            <span class="important">*</span>
          </strong></p>          
          <div class="dropdown latecheckout__dropdown-btn--container">         
            <div id="late__checkout-payMethod" class="payMethod-dropdown--btn drop-down">     
              <span>Select </span>      
              <img src="/static/images/public/img_arrow_down_black_900_01.svg" width="15px" alt="dropdown" />         
            </div>       
            <div class="dropdown-menu" id="late__checkout-payMethod--dropdown">     
              <ul class="latecheckout__payMethod-dropdown--menu-list">       
                <li class="latecheckout__payMethod-dropdown-selector dropdown-item">Transfer</li>          
                <li class="latecheckout__payMethod-dropdown-selector dropdown-item">POS</li>          
                <li class="latecheckout__payMethod-dropdown-selector dropdown-item">Cash</li>
              </ul>
            </div>        
          </div>        
        </div>
      </div>

      <div class="latecheckout__button-container">
        <button class="confirm__late-checkout--btn highlight-btn">Confirm</button>
      </div>

      <input id="store__typeof-extension" type="hidden">

    </div>
  </div>
</div>

<!-- Storage for further use -->
<input id="guest__ispaid-menu--selected" type="hidden" required />
<input id="guest__paymentMethod-menu--selected" type="hidden" required />

<!-- Confirmation Modal Dynamically Loaded Here. -->
<div id="order__confirmation-modal">
</div>
