.sidebar__icon--services {
  height: 1.13rem;
  width: 1.13rem;
}

.service__menu {
  width: 50%;
  margin-left: 90px;
}

.sidebar {
  flex-direction: column;
  display: flex;
  background-color: var(--orange_a100);
  width: 17.88rem;
  height: 100vh;
  position: sticky !important;
  top: 0rem;
  overflow-y: scroll;
}
.service__dropdown {
  transform: rotate(270deg);
}

#sidebar__order-count {
  border-radius: 5px;
  background-color: red;
  color: white;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: none;
}

.sidebar__logo-row {
  align-self: stretch;
}

.sidebar__logo {
  height: 12.13rem;
  width: 100%;
  object-fit: cover;
}

.sidebar__menu.admin__sidebar-menu a {
  margin-top: 3px;
}
.sidebar__menu {
  margin-top: 6px;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  width: 100%;
  gap: 1.13rem;
  padding: 0rem;
  li {
    width: 100%;
    &:hover {
      background-color: var(--amber_500_59);
      box-shadow: inset 0 4px 8px 0 #0000003f;
    }
  }

  a {
    color: var(--black_900_01);
    font-weight: 600;
    font-size: 1.06rem;
    gap: var(--space-xl);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 0.63rem 0 2rem;
    margin-top: 10px;
    width: auto;
  }

  span {
    flex-grow: 1;
  }
}

.sidebar__icon--dashboard {
  height: 1rem;
  width: 1rem;
}

.sidebar__icon--guests {
  height: 0.75rem;
  width: 1.13rem;
}

.sidebar__icon--orders {
  height: 0.88rem;
  width: 1.13rem;
}

.sidebar__profile-row {
  margin-top: 70px;
  margin-bottom: 20px;
  gap: 0.88rem;
  display: flex;
  align-self: stretch;
  justify-content: center;
  align-items: flex-start;
  img {
    margin-left: 1.0rem;
  }
  .fa.fa-ellipsis-v {
    margin-right: 0.9rem;
  }
}

.sidebar__profile-image {
  height: 3.13rem;
  width: 3.13rem;
  align-self: center;
  object-fit: cover;
  border-radius: var(--radius-sm);
}

.sidebar__staff-profile {
  gap: var(--space-md);
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.sidebar__name-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar__name {
  line-height: 1.56rem;
  /* width: 150px; */
  width: auto;
}
#sidebar__email {
  font-size: 12px;
}
.sidebar__icon--notifications {
  height: 1.75rem;
  align-self: flex-end;
}


.sidebar_dropdown__menu {
  width: 100%;

  a {
    color: var(--black_900_01);
    font-weight: 600;
    gap: var(--space-sm);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
    &:hover {
      background-color: var(--amber_500_59) !important;
      box-shadow: inset 0 4px 8px 0 #0000003f;
    }
  }

  span {
    flex-grow: 1;
  }
}

.notifications-dropdown {
  position: absolute;
  left: 5rem;
  bottom: 5px;
  background-color: #FDF6E4;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  list-style: none;
  padding: 0.5rem;
  margin: 0;
  transform: translateX(12rem);
  width: 200px;
  z-index: 999 !important;
}
.notifications-dropdown li {
  cursor: pointer;
  font-size: 14px;
  color: #333;
}
.hidden {
  display: none;
}

@media (max-width: 800px) {
  .sidebar__menu {
    overflow-y: scroll;
  }
  .side__nav-container {
    width: 0px !important;
    visibility: hidden;
  }
}
