.leave__container {
  padding: 10px;
  #leave__list {
    display: none;
  }
  form {
    padding: 2rem;
  }
}

.leave__button {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-left: 2rem;
}

.table-column.increase__height {
  height: 75vh;
}
.leave-type,
.leave-period,
.leave-reason,
.big-tab {
  padding-bottom: 0.9rem;
}

.leave-type label {
  font-weight: bold;
}

.leave-type input, .dropdown {
  border-radius: 10px;
  border: 1px solid var(--amber_a200);
  width: 16.5rem;
  height: 3.5rem;
  outline: none;
  padding: 1rem;
  font-size: larger;
  #leave__request-menu {
    display: flex;
    justify-content: space-between;
  }
}

.leave-period {
  display: flex;
  justify-content: space-between;
}

.leave-period label {
  font-weight: bold;
}

.leave-period input {
  border-radius: 10px;
  border: 1px solid var(--amber_a200);
  width: 16.5rem;
  height: 3.5rem;
  outline: none;
  padding: 1rem;
  font-size: larger;
}

.input-label {
  font-weight: bold;
}
.round-border-input {
  border-radius: 10px;
  border: 1px solid var(--amber_a200);
  width: 16.5rem;
  height: 3.5rem;
  outline: none;
  padding: 1rem;
  font-size: larger;
}

.leave-reason textarea {
  border-radius: 10px;
  border: 1px solid var(--amber_a200);
  width: 36.5rem;
  height: 13.5rem;
  outline: none;
  padding: 1rem;
  font-size: larger;
}

.bigve_request.css-tab {
  gap: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.big-tab > :nth-child(1) {
  background-color: transparent;
  color: var(--black_900_01);
  padding: 10px 45px;
  border: 1px solid var(--amber_a200);
  border-radius: var(--radius-sm);
}

.big-tab > :nth-child(2) {
  background-color: var(--black_900_01);
  color: var(--white_a700);
  padding: 10px 45px;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-xs);
}

#leave__list {
  padding-left: 20px;
  #leave__table-body tr {
    .staff__management-leave--menu {
      right: 25%;
    }
    td:nth-child(3), td:nth-child(2) {
      padding-left: 1%;
    }
  }
}
/*====================================
 	Leave Popup Modal
=====================================*/
.leave__popup-modal {
  width: 60%;
  margin-left: 20%; 
  height: auto;
}
#leave__status-comment {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.leave__popup-modal {
  padding: 30px;
  .bottom_margin {
    margin-bottom: 10px;
  }
  h1 {
    text-align: center;
  }
}
#leave__manager-status,
#leave__ceo-status {
  text-align: center;
}
