.maintenance__container {
  padding: 10px;
  height: 70vh;
  #maintenance__history > table {
    margin-top: 15px;
  }
  .maintenence__tab {
    display: flex;
    justify-content: space-around;
    width: 30%;
  }
  input {
    width: 100%;
    height: 60%;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 5px;
  }
}

/*========================================================
        Fault Details Popup
=========================================================*/
.popup-modal-content.maintenance__popup-modal-content {
  width: 50%;
  margin-left: 20%;
  height: auto;
  padding: 30px;
  h2 {
    text-align: center;
  }
  .maintenance-content {
    display: flex;
    justify-content: space-between;
    #detail__maintenance-fault--image {
      border-radius: 5px;
      border: 2px solid orange;
      margin-bottom: 15px;
      width: 50%;
      height: 80px;
    }

    .maintenance-details {
      width: 60%;
      h3 {
        margin-top: 10px;
      }
    }
    .maintenance-status {
      width: 40%;

    }
  }
  .maintanence__status-btn--container {
    display: flex;
    justify-content: center;
  }
  #maintanence__status-btn {
    padding: 10px;
    border-radius: 15px;
    width: 40%;
    margin-top: 20px;
  }
}

/*==========================================
        List of Fault/Maintenance Table
===========================================*/
.room-facility-column {
  display: flex;
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: auto;
  background-color: var(--secondary-color);
  border-radius: 20px 20px 0px 0px;
  margin-top: 1rem;
}

.room-facility-column > table {
  width: 100%;
  border-collapse: collapse;
  padding: 0 8px;
}

.room-facility-column th {
  padding: 1rem;
  text-align: left;
  vertical-align: top;
}

.room-facility-body tr {
  td:first-child, td:nth-child(4), td:nth-child(5) {
    padding-left: 20px;
  }
  td:nth-child(3) {
    padding-left: 30px;
  }
  border-bottom: 2px solid var(--orange_a100_33);
}

.room-facility-body td {
  padding: 0.5rem;
}

.room-facility-body tr:hover {
  background-color: var(--amber_a100);
}

.report-status-1 {
  color: var(--red_a800) !important;
}

.report-status-2 {
  color: var(--green_500) !important;
}

.report-status-3 {
  color: var(--blue_a700) !important;
}


.options-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 10px;
}

.options-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.options-menu p {
  margin: 0;
  padding: 10px;
  cursor: pointer;
}

.options-menu p:hover {
  background-color: #f0f0f0;
}

.maintenance__dropdown-btn {
  display: flex;
  justify-content: space-between;
}
