@import url('variable.css');

/*====================================
Order Items Section
=====================================*/
.order__dashboard-section {
  height: 600px;
  white-space: nowrap;
  overflow-y: auto;
  padding: 10px;
  width: 100%;
}

.order__categories-btn {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-left: 5%;
}


.oder__items-list {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  .order__items-img {
    height: 85px;
    width: 150px;
    border-radius: 10px;
  }

  .oder__first-col {
    display: flex;
    flex-direction: column;
  }

  .order__items--list-content {
    width: 130%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
  }

  .order__action-icon {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
    p {
      height: 35px;
      width: 35px;
      border-radius: 35px;
      background-color: #F08080;;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }

  }

  .order__counter {
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease;
    height: 30px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      color: white;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
  .order__counter-value {
    text-align: center;
    color: white;
  }
  .oder__second-col {
    width: 50%;
    h1 {
      text-align: center;
    }
  }
}
.order__selector.filter {
  font-size: 13px;
}

/* Form CSS */
#order__form {
  display: flex;
  flex-direction: column;

  .order__flex {
    display: flex;
    justify-content: space-between;
    .order__content {
      width: 100%;
      margin: 15px;
    }
    .dropdown, input {
      border: 2px solid var(--orange_a100);
      padding: 15px;
      height: 60%;
      width: 100%;
      border-radius: 5px;
      .drop-down {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

  }
  .order__button {
    display: flex;
    justify-content: center;
  }
  button {
    border-radius: 15px;
    width: 100%;
    height: 45px;
    margin-top: 20px;
  }
}

/*==============================================
Order History Section
===============================================*/
#order__history-section {
  padding: 10px;
  display: none;
  table {
    margin-top: 50px;
  }
  .inventory__filter {
    margin-left: auto;
  }
  .order_history-title {
    margin-left: 20px;
  }
}

.order__history--table-body {
  width: auto;
  overflow: auto;
  text-align: center;
}

#order__table {
  width: 95%;
}

.table-column.order__history-table {
  padding: 20px;

  .manage {
    top: 50px;
  }
}
.order__history--table-body {

  .manage {
    right: 10%;
  }
  td:nth-child(1) {
    text-align: left;
    padding-left: 35px;
  }
  td:nth-child(1), td:nth-child(2),
  td:nth-child(3), td:nth-child(4), 
  td:nth-child(5), td:nth-child(6) {
    padding-bottom: 10px;
    padding-top: 10px;  
    border-bottom: 1px solid var(--orange_a100);
  }

  td:nth-child(2),
  td:nth-child(3), td:nth-child(4),
  td:nth-child(5), td:nth-child(6) {
     padding-right: 50px;
  }
}
.order__history--filter-btns {
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  width: 25%;
  .order__filter.filter {
    font-size: 10px;
  }
}

/*==============================================
Order details popup modal
===============================================*/
.order__popup-modal {
  width: 70%;
  height: auto;
  margin-left: 20%;
  h3 {
    border-bottom: 3px dotted orange;
    margin-bottom: 10px;
  }
  .order__item-list, .order__info {
    margin-bottom: 10px;
    min-width: 30%;
  }
  .order__item {
    display: flex;
    justify-content: space-between;
  }
  h1 {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 15px;
  }
  .order__details {
    display: flex;
    justify-content: space-around;
  }
  .order__staff-attendee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .order__summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .order__total-cost {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 2px dotted orange;
      border-bottom: 2px dotted orange;
      width: 30%;
      font-size: 20px;
      margin-bottom: 20px;
      padding-top: 20px;
    }
    button {
      height: 40px;
      border-radius: 10px;
      width: 30%;
    }
  }
}

@media screen and (max-width: 1246px) {
  .oder__first-col {
    width: 35%;
  }
  .oder__second-col {
    width: 70%;
  }
}
