[Unit]
Description=Restart William Hotel App Daily at 2 AM                                                                                                                     
[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true                                                                                                                                                         
[Install]
WantedBy=timers.target
