[Unit]
Description=Gunicorn instance to serve WILLIAMS COURT HOTEL App
After=network.target                                                                                                                                                    
[Service]
User=wikki
Group=www-data
WorkingDirectory=/home/wikki/William_Hotel_App
ExecStart=/usr/local/bin/gunicorn --workers 4 --bind 0.0.0.0:5000 app.app:app --timeout 120 --max-requests 500 --max-requests-jitter 50 --access-logfile - --error-logfile -
Restart=always
RestartSec=5                                                                                                                                                            
[Install]
WantedBy=multi-user.target
